<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-title">
        <h2>Passive Income</h2>
    </div>
    <section class="">
      <div class="container">
          <!-- Icon Boxes -->
          <div class="icon-boxes">
              <div class="row">
                  <div class="col-lg-4 col-md-6 icon">
                      <div class="speak-text">
                          <img src="assets/img/trafficicon.svg" width="200" />
                          <ul class="adpackul">
                              <li>1000 Visitors</li>
                              <li>120% Return</li>
                              <li>Validity 30 Days</li>
                          </ul>
                          <div class="speaker-name">
                              <h4>$10 Beginner Pack</h4>
                              <button (click)="onSubmit(1)" class="submit-btn send-btn">Buy Now</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 icon">
                      <div class="speak-text">
                          <img src="assets/img/adpack.svg" width="200" />
                          <ul class="adpackul">
                              <li>5000 Visitors</li>
                              <li>130% Return</li>
                              <li>Validity 45 Days</li>
                          </ul>
                          <div class="speaker-name">
                              <h4>$50 Professional Pack</h4>
                              <button (click)="onSubmit(2)" class="submit-btn send-btn">Buy Now</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 icon">
                      <div class="speak-text">
                          <img src="assets/img/income.svg" width="200" />
                          <ul class="adpackul">
                              <li>10000 Visitors</li>
                              <li>140% Return</li>
                              <li>Validity 60 Days</li>
                          </ul>
                          <div class="speaker-name">
                              <h4>$100 Enterprise Pack</h4>
                              <button (click)="onSubmit(3)" class="submit-btn send-btn">Buy Now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    </div>
   </div>
</div>
